.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 14px;
    width: 70vw;
    margin: 0 auto;
}
.expanding-image {
    background-size: auto;
    background-position: center;
    height: 80vh;
    flex: 0.5;
    transition: flex 0.8s ease-in;
    cursor: pointer;
    border-radius: 20px;
    background-repeat: no-repeat;
    position: relative;
}
.expanding-image.active {
    flex: 5;
}
.expanding-image p{
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in 0.05s;
}
.expanding-image.active p{
    opacity: 1;
}




